.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies
images/cue_arrow_down.png
lib/dialog/NetLoadingDialog.dart
lib/dyrs/beans/CustomerInfoBean.dart
lib/dyrs/beans/customerinfo_entity.dart
lib/dyrs/net/UrlApi.dart
lib/entity_factory.dart
lib/utils/ImageUtils.dart
lib/view/GroupList.dart
lib/view/YcPopupWindowRoute.dart
lib/view/popwindow.dart
